.loader_data{background: rgba(0,0,0,.5); position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 9999;}
.loader_data .loader_data_center{position: absolute; top: 50%; left: 50%; transform: translate(-50%);}
.hide_elements{display: none;}